* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container{
  position: relative;
}
.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: black;
  line-height: 25px;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

/* Style the header links */
.mainHeader a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.mainHeader a.logo {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Change the background color on mouse-over */
.mainHeader a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.mainHeader a.active {
  background-color: dodgerblue;
  color: white;
}

.cartNumberOfItems {
  border-radius: 23px;
    background-color: #9479ff;
    width: 26px;
    height: 26px;
    display: inline-block;
    text-align: center;
}

.cartPrice {
  margin-right: 0.2rem;
  align-items: center;
  align-content: center;
}

.HeaderImgBG {
  background-image: url("../../assets/bg.jpg");
  height: 240px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
}

@media (max-width: 480px) {
  .mobileDevice{
    width:138%;
  }
}

@media (max-width: 768px) {
  .mobileDevice{
    width:136%;
  }
}
@media (min-height: 1024px) {
  .mobileDevice{
    width:100%;
  }
}
@media (min-height: 1200px) {
  .mobileDevice{
    width:100%;
  }
}
/* @media (min-height: 280px) and (min-width: 653px) {
  .mobileDevice{
    width:120%;
  }
} */